<!-- <div class="col-md-8 offset-md-3 mt-3">
  <div class="card">
    <h4 class="card-header">Deposit</h4>
    <div class="card-body">
      <form (ngSubmit)="deposit()" [formGroup]="depositForm">
        <div class="form-group">
          <label for="accountid">Enter account number</label>
          <input
            type="number"
            formControlName="accountid"
            id="accountid"
            class="form-control"
            name="accountid"
            [ngClass]="{ 'is-invalid': submitted && f.accountid.errors }"
          />
          <div *ngIf="submitted && f.accountid.errors" class="invalid-feedback">
            <div *ngIf="f.accountid.errors.required">Account ID required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="amount">Enter amount</label>
          <input
            type="number"
            formControlName="amount"
            id="amount"
            class="form-control"
            name="amount"
            [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"
          />
          <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
            <div *ngIf="f.amount.errors.required">Amount required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Deposit
        </button>
      </form>
    </div>
  </div>
</div> -->
<div id="wrapper">

  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-info p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><em class="fas fa-laugh-wink"></em></div>
        <div class="sidebar-brand-text mx-2"><span>MFPE BANK</span></div>
      </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link " (click)="getDashboard()"><em class="fas fa-tachometer-alt"></em><span>
              Dashboard</span></a></li>
        <li class="nav-item"><a class="nav-link active" (click)="deposit()"><em class="fas fa-piggy-bank"></em><span>
              Deposit</span></a></li>
        <li class="nav-item"><a class="nav-link" (click)="withdraw()"><em class="fas fa-hand-holding-usd"></em><span>
              Withdraw</span></a></li>
        <li class="nav-item"><a class="nav-link" (click)="transfer()"><em class="fas fa-random"></em><span>
              Transfer</span></a></li>
        <li class="nav-item"><a class="nav-link" (click)="viewStatements()"><em
              class="fas fa-money-check-alt"></em><span>
              View Statements</span></a></li>
        <li class="nav-item"><a class="nav-link" (click)="logout()"><em class="fas fa-sign-out-alt"></em><span>
              Logout</span></a></li>
      </ul>

    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <br>
      <br>
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Deposit Money</h3>
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Enter deposit details <a  class="btn btn-primary" style="float: right; color: white;" (click)="deposit()"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Deposit</a></p>

          </div>
          <div class="card-body">
            <form (ngSubmit)="deposit()" [formGroup]="depositForm">
              <div class="form-group">
                <label for="accountid">Enter account number</label>
                <input type="number" formControlName="accountid" id="accountid" class="form-control" name="accountid"
                  [ngClass]="{ 'is-invalid': submitted && f.accountid.errors }" />
                <div *ngIf="submitted && f.accountid.errors" class="invalid-feedback">
                  <div *ngIf="f.accountid.errors.required">Account ID required</div>
                </div>
              </div>

              <div class="form-group">
                <label for="amount">Enter amount</label>
                <input type="number" formControlName="amount" id="amount" class="form-control" name="amount"
                  [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                  <div *ngIf="f.amount.errors.required">Amount required</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
