<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <span
      ><a class="nav-item nav-link" style="float: right" (click)="logout()"
        >Logout</a
      ></span
    >
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active"><a class="nav-link" (click)="goHome()">Home</a></li>
    </ul>

    <ul class="nav navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out"></i> Logout</a>
      </li>
    </ul>
  </nav> -->


<!-- main app container -->

<router-outlet></router-outlet>